<div class="container p-4 d-flex justify-content-center">
  <div class="shadow-lg border border-light">
    <div class="m-3">
      <h1>Add a new List</h1>
      <%= simple_form_for (@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :date %>
        <%= f.input :total %>
        <%= f.submit "Add List", class:"btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
